<header class="container mx-auto px-4 py-6 border-gray-200 flex 
items-center justify-between">
  <a href="/" class="font-bold text-2xl text-white cursor-default">PC Configurator</a>
  <nav>
    <ul class="flex items-center justify-center font-semibold">
      <li class="relative group px-3 py-2">
        <button class="hover:text-gray-400 cursor-default">Pc Components</button>
        <app-dropdown-menu [mainParts]="mainParts" [Peripherals]="Peripherals" />
      </li>

      <li class="relative group px-3 py-2">
        <button class="hover:text-gray-400 cursor-default">Total</button>
      </li>
      <li class="relative group px-3 py-2">
        <button class="hover:text-gray-400 cursor-default">About</button>
      </li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li>
        <a href="#" class="rounded-full px-3 py-2 font-semibold 
        bg-white/10 bg-opacity-10 flex items-center group">
          <span class="mr-2">Sign in</span>
          <svg class="stroke-current" width="10" height="10" stroke-width="2" viewBox="0 0 10 10" aria-hidden="true">
            <g fill-rule="evenodd">
              <path class="opacity-0 group-hover:opacity-100 transition ease-in-out duration-200" d="M0 5h7"></path>
              <path
                class="opacity-100 group-hover:transform group-hover:translate-x-1 transition ease-in-out duration-100"
                d="M1 1l4 4-4 4"></path>
            </g>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</header>
