<section
  id="{{ partName }}"
  [ngClass]="{
    'h-[10vh]': selectedPart.length === 0,
    'h-[40vh]': selectedPart.length > 0
  }"
  class="relative flex flex-col items-center w-[60vw] rounded-xl transition-all duration-300"
>
  <div
    class="flex flex-row bg-white/90 rounded-xl items-center justify-between w-[100%] p-[1%] h-[10vh]"
  >
    <div
      *ngFor="let icon of icons$ | async"
      class="relative rounded-xl h-[100%] aspect-square flex items-center justify-center"
    >
      <img *ngIf="icon.id === partName" [src]="icon.src" [alt]="icon.id" />
    </div>
    <div class="flex flex-row gap-2">
      <h3 class="text-[2vw] text-end text-gray-900 font-black uppercase">
        {{ partName }}
      </h3>
      <button
        (click)="toggleWindow()"
        class="bg-gray-900 rounded-xl p-3 text-white capitalize cursor-pointer"
      >
        Open collection
      </button>
    </div>
  </div>

  <div
    *ngIf="selectedPart.length > 0"
    class="w-[80%] h-fit p-[2%] flex flex-col items-start bg-white/90 rounded-b-xl"
  >
    <div class="w-full flex flex-row items-center justify-between">
      <h2 class="text-lg font-bold text-black">Selected Part Details:</h2>
    </div>
    <div class="flex flex-row gap-2">
      <div
        class="h-full aspect-square rounded-xl flex items-center justify-center bg-white text-black"
      >
        Icon Placeholder
      </div>
      <div *ngFor="let item of selectedPart" class="w-full flex flex-col gap-1">
        <div *ngFor="let entry of item | keyvalue">
          <p *ngIf="entry.key !== 'partType' && entry.key !== 'id'" class="text-black text-base">
            <strong>{{ entry.key }}</strong
            >: {{ entry.value }}
            <span *ngIf="entry.key === 'price'">$</span>
            <span
              *ngIf="entry.key === 'core_clock' || entry.key === 'boost_clock'"
              >GHz</span
            >
          </p>
        </div>
        <button
          class="bg-gray-900 rounded-xl px-5 py-2 text-white capitalize cursor-pointer"
          (click)="removePart(item.id)"
        >
          Clear
        </button>
      </div>
    </div>
  </div>

  <app-components-window
    [parts]="parts$ | async"
    [toggleWindowValue]="toggleWindowValue"
    (toggleWindow)="toggleWindow()"
    (selectPart)="selectPart($event)"
  ></app-components-window>
</section>
