<section id={{partName}}
  class="relative bg-white/60 flex items-center justify-between p-[3%] w-[60vw] h-[35vh] rounded-xl"
>
  <div class="relative flex items-center gap-[2%] w-[70%] h-full border-r-2">
    <div
      class="bg-white rounded-xl h-full aspect-square flex items-center justify-center text-black"
    >
      <!-- Icon Placeholder -->
       {{ partName }}
    </div>
    <div *ngFor="let item of selectedPart" class="flex flex-col items-start justify-center w-[100%]">
      <div *ngFor="let entry of item | keyvalue ">
        <p class="text-[1vw] text-black"><strong>{{ entry.key }}</strong>: {{ entry.value }}</p>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-end justify-center w-[30%]">
    <div
      class="bg-white rounded-xl h-full aspect-square flex items-center justify-center text-black"
    >
      Icon Placeholder
    </div>
    <h3 class="text-[2vw] text-end text-white font-black uppercase">{{ partName }}</h3>
    <button (click)="toggleWindow()" class="bg-white rounded-xl p-3 text-black capitalize cursor-pointer">
      Open collection
    </button>
  </div>
  <div  *ngIf="toggleWindowValue" class="bg-white rounded-xl fixed flex flex-col gap-1 justify-start items-center top-[5vh] left-[5vw] w-[90vw] h-[90vh] p-[5%] overflow-y-scroll z-10">
    <h1 (click)="toggleWindow()" class="text-black cursor-pointer absolute top-2 right-2 text-5xl">X</h1>
    <div *ngFor="let part of parts" class="text-white flex flex-col w-full p-2.5 bg-gray-600 rounded-xl justify-evenly items-start">
      <div class="flex flex-row justify-between items-center w-full">
        <div class="bg-white rounded-xl h-full aspect-square flex items-center justify-center text-black">
          Icon Placeholder
        </div>
        <h3 class="text-2xl font-bold">{{ part.name }}</h3>
        <button (click)="selectPart(part.id)" class="bg-white rounded-xl px-5 py-2 text-black capitalize cursor-pointer">
          Select
        </button>
      </div>
      <div class="flex flex-row w-full gap-2 p-2">
        <div class="bg-gray-300 rounded-xl p-2.5 text-black" *ngFor="let entry of part | keyvalue">
          <p *ngIf="entry.key != 'name'">
            <strong>{{ entry.key }}:</strong> {{ entry.value }}
          </p>
        </div>
      </div>
    </div>
    
  </div>
</section>
